@use "constants.scss" as *;
@use "mixins.scss" as *;

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: .9rem;
  gap: .9rem;
  color: $on-bg-default;
  background: $bg-default;
}

.section {
  border: 2px solid $shadow-default;
  box-shadow: .9rem .9rem 0 $shadow-default;
}

.nav {
  position: relative;
  @extend .section;
  background: $primary-default;
  color: $white-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  width: 33%;
  height: 100%;
}

.return {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.pages {
  height: 66%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.pageButton {
  background: $primary-default;
  color: $white-default;
  min-width: 50%;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.selected {
  background: $bg-default;
  color: $primary-default;
}

.header {
  font-size: 2rem;
  color: $white-default;
  cursor: pointer;

  &:hover {
    scale: 1.03;
  }
}

.reka {
  font-size: 2rem;
  color: $bg-default;
}

.crumbs {
  width: 100%;
  height: 1.2rem;

  ol {
    display: flex;
    list-style: none;
    gap: 3px;

    li {
      cursor: pointer;
      transition: color 150ms ease, scale 150ms ease;
      animation: slideIn 0.3s ease-out;

      &:hover {
        color: var(--primary);
        scale: 1.02;
      }

      &:last-child {
        color: var(--secondary);
        cursor: auto;

        &:hover {
          scale: 1.0;
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-8px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content {
  width: 100%;
  height: calc(100% - 1.2rem);
  transition: height 200ms ease-in-out;
}

.contentWrapper {
  overflow: hidden;
  @extend .section;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 66%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}
