@use "../constants.scss" as *;
@use "../mixins.scss" as *;

.title {
    text-align: center;
    margin: 1.5rem;
}

.subtitle {
    text-align: center;
    margin: 1.5rem 1.5rem 0 1.5rem;
    font-size: 1.3rem;
    transform: translateY(-1.5rem);

    @include for-mobile-only {
        font-size: 1rem;
    }
}

.cardWrapper {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    min-height: 80vh;
}

img {
    font-size: 1rem;
    -webkit-text-stroke: 0.7px $black-default;
}

.cardWrapper div {
    flex-basis: 26%;
    height: 20rem;
    margin: 0 auto 3rem auto;
    -webkit-text-stroke: 1px $black-default;
    font-size: 1.5rem;
    background-color: $white-default; //Nice med en bedre farge her, men usikker ka det e 
    line-height: 1rem;
    background-size: 5cqi;
    aspect-ratio: 1;

    @include for-mobile-only {
        flex-basis: 100%;
    }
}

.cardWrapper div span {
    font-size: 0.7rem;
    -webkit-text-stroke: 0.6px $black-default;
}

.REKA25 img{
    object-fit: cover;
    object-position: 30%;
}

.REKA24 img {
    object-fit: cover;
    object-position: 40%;
}

.REKA22 img {
    object-fit: cover;  
}