@use "../constants.scss" as *;
@use "../mixins.scss" as *;

.InfoWrapper { //Temp fix ettersom pagen muligens ikke har nok vertical content sånn at footeren begynne å fly, og eg e for lat rn te å fikse det #TekniskGjeld
  min-height: 80vh;
  margin-bottom: 3rem;
}

.Title {
  text-align: center;
  margin: 1.5rem;
  font-size: 3rem;

  @include for-mobile-only {
    font-size: 1.5rem;
  }
}

.Register {
  text-align: center;
  transform: translateY(-1.2rem);
}

.MeaningWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2rem;

  @include for-mobile-only {
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 2rem;
  }
}

.MeaningWrapper div {
  border-radius: .5rem;
  font-size: 0.8rem;
  max-height: 5rem;

  overflow-wrap: break-word;
  word-break: break-word;

  @include for-mobile-only {
    min-height: 9rem;
  }
}
