@use "../constants.scss" as *;
@use "../mixins.scss" as *;


////////////////////////////////////
// Page wide styling
////////////////////////////////////

.navBar,
.page {
  //This is where you choose the theme colour so that it overrides the default one
  background-color: $bg-2026;
}

.page {
    font-family: $font-caprisimo;
    display: flex;
    flex-direction: column;
    color: $red;
}

.navBar::after {
  //This is the navBar bottom border colour
  background: $on-bg-2026;
}

////////////////////////////////////
// Content
////////////////////////////////////

.title h1{
  @include color-shadow(3,($orange,$yellow,$green,$blue));
  @include for-mobile-only {
    padding: 0 0 2vh 0;
    @include color-shadow(2,($orange,$yellow,$green,$blue));
  }
}

.title h5 {
  transform: translateY(0.7rem);
  color: $reke;

  @include for-mobile-only {
    transform: translateY(0.4rem);
  }
}

.title h5 span {
  color: $red-2026;
  display: inline-block;
  transform: scale(1.15) rotate(-2deg) translate(0.1rem,-0.1rem);
  -webkit-text-stroke: 0.8px darken($orange-2026, 15%);
}

.title h6 {
  color: $on-bg-2026;
  opacity: 48%;

  @include for-mobile-only {
    opacity: 60%;
    transform: translateY(-0.3rem);
  }
}

.title div{
  background-color: $bg-light-2026;
}

.map {
  margin: 0 8.6rem 0 8.6rem;
  height: 80vh;

  @include for-mobile-only {
    margin: 0 1.5rem 0 1.5rem;
    height: 30vh;
  }
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);

  margin: 3.5rem 2rem 3.5rem 2rem;
  height: 200vh;

  @include for-mobile-only {
      grid-template-rows: repeat(48, 1fr);
      height: 58rem;
      font-size: clamp(0.6rem, 0.5rem + 0.7vw, 0.7rem);
  }
}

.cardWrapper > * {
  min-width: 0;
}


.info {
  //TODO fiks layout for desktop
  @include for-mobile-only {
    grid-column: 1 / 11;
    grid-row: 1 / 11;
  }
}

.insta {
  box-shadow: -$box-shadow-default $box-shadow-default 0 $shadow-default;
  align-items: center;
  //TODO fiks layout for desktop
  @include for-mobile-only {
    grid-column: 16 / 25;
    grid-row: 8 / 16;
  }
  background-color: $blue;
}

.hype {
  //TODO fiks layout for desktop
  @include for-mobile-only {
    grid-column: 2 / 14;
    grid-row: 16 / 30;
  }
}

.hype button {
  width: 100%;

  background-color: $blue;
}

.visibleLines {
  column-rule-style: solid; //Bare for debug
  column-rule-color: red; //Bare for debug
  column-rule-width: 3px; //Bare for debug
  row-rule-style: solid; //Bare for debug
  row-rule-color: red; //Bare for debug
  row-rule-width: 3px; //Bare for debug
}

.countdown {
  background-color: $orange-2026;
  //TODO fiks layout for desktop
  @include for-mobile-only {
    grid-column: 16 / 25;
    grid-row: 28 / 32;
  }
}

.program {
  background-color: $blue-2026;
  //TODO fiks layout for desktop
  @include for-mobile-only {
    grid-column: 2 / 24;
    grid-row: 36 / 49;
  }
}