@use "../constants.scss" as *;
@use "../mixins.scss" as *;

//Styling specific to the REKA 26

.navBar,
.page {
  //This is where you choose the theme colour so that it overrides the default one
  background-color: $bg-2026;
}

.page {
    font-family: $font-caprisimo;
    display: flex;
    flex-direction: column;
    color: $red;
}

.navBar::after {
  //This is the navBar bottom border colour
  background: $on-bg-2026;
}

////////////////////////////////////
// Content
////////////////////////////////////

.title {
  @include color-shadow(3,($orange,$yellow,$green,$blue));
  @include for-mobile-only {
    padding: 2vh 0 2vh 0;
  }
}

.triangleLeft {
  position: absolute;
  left: 50px;
  bottom: 200px;
  rotate: -30deg;
  width: 20rem;
  height: 7rem;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
  overflow: hidden;
  fill: red;
}

.triangleRight {
  position: absolute;
  right: 50px;
  bottom: 200px;
  rotate: 200deg;
  width: 20rem;
  height: 7rem;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
  overflow: hidden;
}

.panel {
  border: 2px $white solid;
  background: $green-dark;
  width: 20rem;
  height: 13rem;
  position: relative;
  margin: 10px;
}

.tag {
  border: 2px $white solid;
  background: $green-dark;
  padding: 10px;
  position: relative;
  width: fit-content;
  color: $white;
  margin: 10px;
}
