@use "../../_constants" as *;
@use "../../mixins" as *;
.title {
   // container query units, each sigil is scaled to % of parent
  margin: auto;
  width: fit-content;
}

.card {
  border: 3px solid $on-bg-2026;
  border-radius: 1rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  width: fit-content;
  margin: auto;

  @include for-mobile-only {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}

.wrapper {
  font-size: 2.5cqi;
  text-align: center;
  padding: 2vh 6vh 2vh 6vh;

  @include for-mobile-only {
    font-size: 4.5cqi;
  }
}

.reka {
  margin:auto;
  width: fit-content;
  padding: 0 0.8rem 0 0.5rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0 40px; /* however wide you want them rendered on your box */
  border-image-source: url(/rekafestival-speilvendt.png);
  border-image-slice: 0 806 0 806 fill; /* top right bottom left, in source px */
  border-image-width: 0 40px;

  @include for-mobile-only {
      border-image-width: 0 20px;
      border-width: 0 15px;
  }
}
