@use "constants" as *;
@use "mixins" as *;

.page {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: var(--bg, $bg-default);
  color: var(--text-color, $on-bg-default);
  font-family: var(--font, $font-paragraph-default);
}