@use "sass:color";

// Farger og fonts bør deklareres etter årstall for styling
// Altså primary-2026 og primary-2027 osv

// temp farger til alt blir overført til -2026
$reke: #E59887;
$reke-dark: color.adjust($reke, $lightness: -5%);
$reke-light: color.adjust($reke, $lightness: 5%);
$blue: #447EF3;
$blue-dark: color.adjust($blue, $lightness: -10%);
$green: #00B353;
$green-dark: color.adjust($green, $lightness: -10%);
$red-light: #FF0060;
$red: #FF3031;
$yellow: #FFBF2F;
$pink: #F352A9;
$orange: #FE904E;
$lime: #B2FF57;
$white: #FFFDD0;

$mobile-bp-upper: 768px;

$font-caprisimo: 'Caprasimo', cursive;

// default, (ikke helt satt i stein)
$bg-default: #FFEBB7;
$on-bg-default: #AD8E70;
$primary-default: #FF6E31;
$secondary-default: #7A8B4C;
$tertiary-default: #E0A526;
$accent-default: #F5ADC1;
$shadow-default: #243763;
$drop-shadow-default: drop-shadow(10px 10px 0 $shadow-default);

$box-shadow-default: 9px;

$font-header-default: "Holtwood One SC", serif;
$font-paragraph-default: "Gveret Levin", cursive;

// reka 2026
$bg-2026: #B0FC57;
$on-bg-2026: #80B93D;
$bg-light-2026: #CEFD97;
$blue-2026: #447EF3;
$blue-dark-2026: color.adjust($blue, $lightness: -10%);
$green-2026: #00B353;
$green-dark-2026: color.adjust($green, $lightness: -10%);
$red-light-2026: #FF0060;
$red-2026: #FF3031;
$yellow-2026: #FFBF2F;
$pink-2026: #F352A9;
$orange-2026: #FE904E;
