@use './constants' as *;

//Denne må holdes oppdatert med _constants.scss

:export {
  reke: $reke;
  reke-dark: $reke-dark;
  reke-light: $reke-light;
  blue: $blue;
  blue-dark: $blue-dark;
  green: $green;
  green-dark: $green-dark;
  red-light: $red-light;
  red: $red;
  yellow: $yellow;
  pink: $pink;
  orange: $orange;
  lime: $lime;
  white-default: $white-default;
}
