@use "constants" as *;
@use "mixins" as *;

.container {
  width: 50vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include for-mobile-only {
    width: 70vw;
    height: 85vh;
  }
}
