@use "../../_constants" as *;
@use "../../mixins" as *;

.navBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: $bg-default;

  @include for-mobile-only {
    height: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.navBar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1.2rem;
  right: 1.2rem;
  height: 4px;
  border-radius: 1rem;
  background: $on-bg-default;
  margin-bottom: -0.3rem;
}

.logoWrapper {
  position: relative;
  height: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.logo {
  cursor: pointer;
  height: 100%;
  transition: filter 100ms ease;

  &:hover {
    filter: brightness(110%);
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  @include for-mobile-only {
    display: none;
  }
}
