@use "../../_constants" as *;
@use "../../mixins" as *;

.navBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  border-bottom: 2px solid $blue-dark;
  height: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;

  @include for-mobile-only {
    height: 3rem;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.logoWrapper {
  position: relative;
  height: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  cursor: pointer;
  height: 100%;
  transition: filter 100ms ease;

  &:hover {
    filter: brightness(110%);
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  @include for-mobile-only {
    display: none;
  }
}
