@use "../../_constants" as *;
@use "../../mixins" as *;

.navBar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-color: $blue;

    @include for-mobile-only {
        grid-template-columns: 1fr 1fr;
    }
}

.logo {
    position: relative;
    width: 100%;
    height: 6vh;
    background-image: url('public/Reka logo - 3d.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.logoWrapper {
    margin: 1vh;
}

.button {
    margin: 1vh;
    background-color: $red !important;
    flex-basis: 8vw; 
    height: 6vh;

    @include for-mobile-only {
        flex-basis: 20vw;
    }
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 1vh;

    @include for-mobile-only {
        justify-content: center;
    }
}