@use "constants" as *;


.hype {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: $pink;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  transition: scale 200ms ease-in-out;

  &:hover {
    scale: 1.05;
  }

  &:active {
    transition: scale 100ms ease-in-out;
    scale: 0.95;
  }
}

.counter {
  font-size: 2rem;
  color: white;
}
