@use "sass:color";
@use "constants" as *;

@property --degrees {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.hype {
  border-radius: 10px;
  background: linear-gradient(var(--degrees), color.adjust($pink-2026, $lightness: 15%), $pink-2026) !important;
  padding: 1rem !important;
  width: 100% !important;

  animation: rotate-gradient 7s linear infinite;

  transition: filter 500ms;
}

@keyframes rotate-gradient {
  from {
    --degrees: 0deg;
  }

  to {
    --degrees: 360deg;
  }
}

.counter {
  font-size: 2rem;
  color: white;
}
