@use "constants" as *;

.dropdown {
  position: absolute;
  z-index: 1000;
  background-color: $bg-default;
  border: 2px $shadow-default solid;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: .7rem;
  gap: .7rem;
  box-shadow: .7rem .7rem 0 $shadow-default;

  list-style: none;

  transition: opacity 300ms ease, scale 200ms ease;
}

.item {
  color: $on-bg-default;
  font-size: 1.2rem;
  text-wrap: nowrap;
  cursor: pointer;

  transition: scale 100ms ease, fitler 100ms ease;

  &:hover {
    scale: 1.05;
    filter: contrast(200%);
  }
}

.selected {
  color: $primary-default;
}

.closed {
  opacity: 0;
  scale: 0;
}

.open {
  opacity: 1;
  scale: 1;
}
